@import "tailwindcss";

html, body {
  max-width: 100%;
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'GentiumBook';
  src: url('/fonts/gentium_book_basic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/bebas_neue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {

  /* cores*/
  --color-dark: #121212; 
  --color-violet: #9747ff;

  /*cores brilhantes*/
  --color-purple: #A192FF;
  --color-purple-shadow: #DC92FF;
  --color-orange: #FFAC92;
  --color-blue: #6FEEFF;
  --color-green: #92FFB0;
  --color-red: #FF929F;

  /* tipografia */
  --font-bebas: "Bebas Neue", sans-serif;
  --font-gentium: "Gentium Book Basic", serif;
}

@keyframes rollDown {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(20px) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(360deg);
    opacity: 0.8;
  }
}

.animate-roll-down {
  animation: rollDown 4s ease-in-out infinite;
}