@import "tailwindcss";

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: white;
}

@font-face {
  font-family: 'GentiumBook';
  src: url('./assets/fonts/gentium_book_basic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/bebas_neue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {

  /* cores*/
  --color-dark: #121212; 
  --color-violet: #9747ff;

  /*cores brilhantes*/
  --color-purple: #A192FF;
  --color-orange: #FFAC92;
  --color-blue: #6FEEFF;
  --color-green: #92FFB0;
  --color-red: #FF929F;

  /* tipografia */
  --font-bebas: "Bebas Neue", sans-serif;
  --font-gentium: "Gentium Book Basic", serif;
}